
body {
	position: relative;
	font-family: 'IBM Plex Serif', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 220px;
	overflow-x: hidden;
	height: 100vh;
	background-color: #fff;
}



.navbar {
  width: 100%;
  height: 115px;
  box-shadow: 0 4px 10px rgba(118, 159, 205, .9);
  background-color: #769FCD;
}
.navbar .container {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center; 
}
  
  .navbar-menu{
  	list-style-type: none;
  	padding-left: 0;
  	margin-bottom: 0;
  }

   .navbar-menu li {
  	display: inline-block;
  }

   .navbar-menu li a {
  	display: inline-block;
  	color: #fff;
  	opacity: 0.6;
  	text-decoration: none;
  	padding: 10px;
  	transition: all .07s ease-in-out
  }
   .navbar-menu li a:hover {
   	opacity: 1;
  }

  .navbar-wrap{
  	display: flex;
  	flex-flow: row nowrap ;
  }

  .callback{
  	margin-left: 30px;
  	padding: 10px 20px;
  	background-color: #145E90;
  	border-radius: 200px;
  	color: #000; 
  	text-decoration: none;
  	box-shadow: 0 4px 6px rgba(187, 87, 252, .1);
  	transition: all .1s ease-out;
  }

  .callback:hover{
  	transform: scale(1.04);
  	color: #000;
  	box-shadow: 0 9px 9px rgba(45, 84, 179, .5);
    text-decoration: none;
  }

  .navbar-brand{
  	font-weight: 700;
  	font-size: 26px;
  	text-decoration: none;
  	color: #769FCD;
  	transition: all .07s ease-in-out;
  }

  .navbar-brand:hover{
  	color: #769FCD;
  }
  .product{
  	margin-bottom: 30px;
  }
  	
 .image img {
 	height: 300px;
 	width: 100%;
 	object-fit: cover;
 	border-radius: 7px;
 }
 .image  {
 	margin-bottom: 10px;
}
.info-price {
 	display: flex;
 	flex-flow: row nowrap;
 	justify-content: space-between;
 	align-items: center;
 	
 }

.header{
	position: relative;
	min-height: 700px
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}
.header-content{
	text-align: center;
	position: relative;
    z-index: 2;
    color: #fff;
}
.header .row{
	min-height: 700px;
	display: flex;
	align-items: center;
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .6);
}
.header-content h1 {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 10px;

}
.header-content h4 {
	font-size: 21px;
	font-weight: 400;
	margin-bottom: 10px;
	opacity: 0.7;
	margin-bottom: 35px;


}
 .btn-main{
	display: inline-block;
	padding: 10px 35px;
	font-size: 18px;
	border: none;
	background-color: #3c77ce;
	text-transform: uppercase;
	border-radius: 5px;
	font-weight: 700;
	box-shadow: 0 5px 10px rgba(0,0,0, .4);
	transition: all .09s ease-out;
	border-radius: 100px;
	text-decoration: none;
	color: #fff;

}

 .btn-main:hover{
	box-shadow: 0 5px 10px rgba(0,0,0, .4)
	transform: scale(1.05);
	color: #fff;
  text-decoration: none;
}
.background{
	background-color: coral;
}
.form-group{
	margin-bottom: 10px;

}
.form-control{
	width: 100%;
	display: block;
	background-color: #fff;
	barder: 1px solid #ddd;
	border-radius: 3px;
	padding: 9px 10px;
	font-size:  14px;
	transition: all .09s ease-out;

}
.form-control:focus{
	outline: none;
	border-color: coral;
	box-shadow: 0 0 5px rgba(255, 127, 80, .6)
	
}
label{ 
   display: block;
 }
 .btn-main2{
 	display: inline-block;
	padding: 10px 35px;
	font-size: 18px;
	border: none;
	background-color: #3c77ce;
	text-transform: uppercase;
	border-radius: : 5px;
	font-weight: 700;
	box-shadow: 0 5px 10px rgba(0,0,0, .4)
	transition: all .09s ease-out;
	border-radius: 100px;
	text-decoration: none;

 }
.form-control2{
	width: 100%;
	display: block;
	background-color: #fff;
	barder: 1px solid #ddd;
	border-radius: 3px;
	padding: 40px 10px;
	font-size:  14px;
	transition: all .09s ease-out;
}
.form-control2:focus{
	outline: none;
	border-color: coral;
	box-shadow: 0 0 5px rgba(255, 127, 80, .6)
}
* {box-sizing: border-box}


.container {
  padding: 16px;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;

}


input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #3c77ce;
  color: #fff;
  padding: 16px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin-left: 30px;
  padding: 10px 20px;
  border-radius: 200px;
}

.registerbtn:hover {
  opacity:1;
  color: #fff;
}

a {
  color: dodgerblue;
  text-decoration: none;
}


.signin {
  background-color: #fff;
  text-align: center;
}
.grid * {
    box-sizing: border-box;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    padding: 20px 0;
}
@media only screen and (max-width: 1200px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
.grid-item {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
    transition: box-shadow .3s;
    width: 100%;
    height: 100%;  
}
.grid-item .image {
    height: 200px;
    overflow: hidden;
}
.grid-item .info {
    position: relative;
    height: calc(100% - 200px);
    padding: 16px 14px 80px 14px;
}
.grid-item:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
.grid-item .image img  {
      transition: transform 280ms ease-in-out;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;    
}
.grid-item:hover .image img  {
    transform: scale(1.1);
}
.info h3 {
    font-family: 'Roboto', Тahoma, sans-serif;
    color: black;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    text-align: center;
}
.info-text p {
    font-size: 15px;
    line-height: 20px;
    font-family: Verdana, sans-serif; 
    margin-bottom: 10px;
}
.info-text p:last-child {
    margin-bottom: 0;
}
.grid-item .button-wrap {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 14px;
    left: 0;
    text-align: center;
}
.atuin-btn {
    display: inline-flex;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #c46cfd;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto', Тahoma, sans-serif;
    background: #b13bfe;
    cursor: pointer; 
    border: 2px solid #b13bfe;
}
.atuin-btn:hover,
.atuin-btn:active,
.atuin-btn:focus {
    color: #c46cfd;
}
.atuin-btn:after,
.atuin-btn:before {
    position: absolute;
    height: 4px;
    left: 50%;
    background: #b13bfe;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.atuin-btn:before {
    top: -6px;
}
.atuin-btn:hover:after,
.atuin-btn:hover:before,
.atuin-btn:active:after,
.atuin-btn:active:before,
.atuin-btn:focus:after,
.atuin-btn:focus:before {
    width: 100%;
    left: 0;
}
input {
  display: inline-block;
  margin: 20px auto;
  border: 2px solid #eee;
  padding: 10px 20px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
}

.tdItem2 {
  text-align: left;
  padding: 10px;
  cursor: default;
  border-radius: 7px;
}

.tdItem2:hover {
  background-color: lightblue;
}
.grid-item2 {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
    transition: box-shadow .3s;
    width: 100%;
    height: 100%;  
}
.grid-item2 .image {
    height: 200px;
    overflow: hidden;
}
.grid-item2 .info {
    position: relative;
    height: calc(100% - 200px);
    padding: 16px 14px 80px 14px;
}
.grid-item2:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
.grid-item2 .image img  {
      transition: transform 280ms ease-in-out;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;    
}
.grid-item2:hover .image img  {
    transform: scale(1.1);
}
.info2 h3 {
    font-family: 'Roboto', Тahoma, sans-serif;
    color: black;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    text-align: center;
    text-decoration: none;
}
.info-text2 p {
    font-size: 15px;
    line-height: 20px;
    font-family: Verdana, sans-serif; 
    margin-bottom: 10px;
}
.info-text2 p:last-child {
    margin-bottom: 0;
}
.grid-item2 .button-wrap {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 14px;
    left: 0;
    text-align: center;
}

  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }